@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// Fonts
$main-family: "Poppins", sans-serif;

// Color
$black: #000;
$white: #fff;
$body-bg: #0e0a1e;

$scroll-non-hover: #514b67;
$scroll-hover: #564c7a;
$scroll-active: #4d4179;

$logo-color: #080a32;
$header-border: #594f6f;
$arrow-color: #e6d5ff;
$sub-menu-bg: #2d2b3a;
$sub-menu-link-bg-hover: #383448;

$about-img-blur: #1f142828;
$about-button: #635a6eac;
$about-figc: #c4c4c4;

$light-theme-button-change: #342453;

$footer-bg: #0b0713;
