.intro {
  height: 100vh;

  background: linear-gradient(
      to right,
      rgba(9, 5, 47, 0.75) 0%,
      rgba(9, 5, 47, 0.75) 100%
    ),
    url(../../assets/img/bg.png) no-repeat center center;
  background-size: cover;
}

.intro__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 26px;

  height: 100vh;

  & h1 {
    font-size: 52px;
    font-weight: 700;
    text-align: center;

    & span {
      text-decoration: underline;
      text-decoration-color: $header-border;
    }
  }
}

.intro__elements {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.intro__link {
  display: inline-block;

  padding: 16px 22px;

  color: $white;
  font-weight: 500;
  font-size: 18px;

  border: 2px solid $header-border;
  border-radius: 40px;

  transition: 0.3s;

  &:hover {
    backdrop-filter: blur(10px);
  }

  &::after {
    content: "_";
    animation: flashing 1s infinite step-end;
  }
}

.search {
  display: flex;
  align-items: center;

  height: 60px;

  background-color: $logo-color;
  border-radius: 40px;

  & input {
    width: 0;
    height: 60px;

    font-size: 18px;
    font-weight: 500;

    transition: 0.4s;
  }

  & input::placeholder {
    font-size: 18px;
    font-weight: 400;
    color: $white;
  }

  & button {
    width: 60px;
    height: 60px;

    border-radius: 50%;
    border: 4px solid $logo-color;
    background-color: $logo-color;
    transition: 0.4s;
  }

  &:hover {
    input {
      width: 320px;

      color: $white;

      padding: 0 0 0 24px;
    }

    &:hover button {
      background-color: $white;
    }
  }

  & button::before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 22px;
    font-weight: bold;
    color: $white;
  }

  &:hover button::before {
    color: $logo-color;
  }
}
